<template>
<!-- <script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") {var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);elems["ts"] = JSON.stringify(new Date().getTime());document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500); 
</script> -->
    <!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<div class="slds-form">
    
    <form action="https://test.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
    
        <input type=hidden name="oid" value="00D0w0000008go1">
        <input type=hidden name="retURL" value="https://community-ingenuity.cs75.force.com/helpCenterTest/s/">
    
    <!--  ----------------------------------------------------------------------  -->
    <!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
    <!--  these lines if you wish to test in debug mode.                          -->
    <!--  <input type="hidden" name="debug" value=1>                              -->
    <!--  <input type="hidden" name="debugEmail"                                  -->
    <!--  value="sam.acharya@ingenuity.com.au.invalid">                           -->
    <!--  ----------------------------------------------------------------------  -->
    <div class="slds-form-element slds-form-element_stacked">
    <label class="slds-form-element__label" for="first_name">
      First Name<abbr class="slds-required" title="required">*</abbr>
    </label>
    <div class="slds-form-element__control">
    <input class="slds-input" id="first_name" maxlength="40" name="first_name" size="20" type="text" required/><br>
    </div>  
</div>

    <div class="slds-form-element slds-form-element_stacked">
    <label class="slds-form-element__label" for="last_name">
        Last Name<abbr class="slds-required" title="required">*</abbr>
    </label>
    <div class="slds-form-element__control">
    <input class="slds-input" id="last_name" maxlength="80" name="last_name" size="20" type="text" required/><br>
    </div>
    </div>

    <div class="slds-form-element slds-form-element_stacked">
    <label class="slds-form-element__label" for="company">Company</label>
    <div class="slds-form-element__control">
    <input class="slds-input" id="company" maxlength="40" name="company" size="20" type="text" /><br>
        </div>
</div>

    <div class="slds-form-element slds-form-element_stacked">
    <label class="slds-form-element__label" for="email">
        Email Address<abbr class="slds-required" title="required">*</abbr>
    </label>
    <div class="slds-form-element__control">
    <input class="slds-input" id="email" maxlength="80" name="email" size="20" type="text" required/><br>
</div>    
</div>

    <div class="slds-form-element slds-form-element_stacked">
    <label class="slds-form-element__label" for="mobile">Mobile</label>
    <div class="slds-form-element__control">
    <input class="slds-input" id="mobile" maxlength="40" name="mobile" size="20" type="text" /><br>
    </div>
    <div class="slds-form-element__help" id="error-message-unique-id">ex: (###) ### ###</div>
</div>

    <div class="slds-form-element slds-form-element_stacked">
    <label class="slds-form-element__label" for="description">
    Description<abbr class="slds-required" title="required">* </abbr>
    </label>
    <div class="slds-form-element__control">
    <textarea name="description" class="slds-textarea" required></textarea><br>
    </div>
    </div>

    <input class="submit slds-button slds-button_neutral" type="submit" name="submit" value="Let's Talk">
    
    </form>  
</div>
</template>