
div{
    text-align: center;
    color: #fff;
    color: rgba(183,180,180,.7);
    font-size: 18px;
    background-color: #333;
    min-height: 50px;
    vertical-align: middle;
    line-height: 90px;   
    overflow: hidden;   
    height: auto;
}

svg{
    fill: white;
}

.preFooter{
   background-color: #1f1f1f;
   /* width: 100%; */
   height: 100px;
   display: block;
}
